---
const github = "https://www.github.com";
const linkedin = "https://www.linkedin.com/in"
const instagram = ""
const username = "https://www.instagram.com";
---

<footer>
  <p>Learn more about my projects on <a href={`${github}/${username}`}>Github</a>!</p>
  <p>Learn more about my experience on <a href={`${linkedin}/${username}`}>Linkedin</a>!</p>
  <p>Follow me on <a href={`${instagram}/${username}`}>Instagram</a>!</p>
</footer>
